* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
 
  
  font-family: 'Shantell Sans', cursive;
  }
  

  :root{
    --background:#ccc;
    --botaoLogin:#cca3
  }
  